In [1]:
import pandas as pd
import numpy as np

In [2]:
[i for i in dir(int) if "__" not in i]

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [3]:
[i for i in dir(int)]

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

### Arthematic Operators

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [4]:
# Exploring Arthmatic operation in Python.

print(f"Addition: {2 + 1}")
print(f"Subraction: {2 - 1}")
print(f"Multiplication: {2 * 1}")
print(f"Divison: {2 / 1}")

Addition: 3
Subraction: 1
Multiplication: 2
Divison: 2.0

In [5]:
%conda install lxml -y

Channels:
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [6]:
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
# Getting list of dataframe objects
table[0].head()

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »

In [7]:
table[0].columns.isin(["Operator", "Name", "Example", "Try it"])

array([ True,  True,  True,  True])

In [8]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [9]:
a : str = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [10]:
a : int = str(7)
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

TypeError: can only concatenate str (not "int") to str

In [ ]:
a : int = 7
b : int = 2

print(str(a) + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Modulus
a : int = 13
b : int = 3

print(a % 3)

1

In [ ]:
# Exponent operation.
print(2**2) # Square exponent.
print(2**3) # Cube exponent

4
8

In [ ]:
print(12 / 3)

4.0

In [ ]:
print(14.8 / 3)

4.933333333333334

In [ ]:
print(14.8 // 3)

4.0

# Python Assignment Operators

In [11]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [12]:
num1 = 34
num2 = num1 * 2

result = num1 + num2

print(result)

102

In [13]:
sum: int = 0
# x += 3 is equivalent to x = x + 3
for i in range(1, 11):
    sum += i

print(sum)

55

In [14]:
a : int = 7
print(b := 7)

7

In [19]:
# = assign
a : int = 7
b : int = 2

# a: int = str("shahzaib") # No error

In [23]:
total: int = 100
# x -= 3 is equivalent to x = x - 3
for i in range(1, 11):
    print(i)
    total -= i
    # print(total)

print(total)

1
2
3
4
5
6
7
8
9
10
45

In [24]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [25]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [27]:
if(not(2 == 3)):
   print("Numbers aren't equal")

Numbers aren't equal

In [28]:
# When you’re writing long numbers, you can group digits using underscores to make large numbers more readable
universe_age = 14_000_000_000
print(universe_age)

14000000000

# Multiple Assignment

In [29]:
x, y ,z = 1, 2 ,3
print(x)
print(y)
print(z)

1
2
3