In [1]:
import pandas as pd
import numpy as np

In [2]:
[i for i in dir(int) if "__" not in i]

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [3]:
[i for i in dir(int)]

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

### Arthematic Operators

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [4]:
# Exploring Arthmatic operation in Python.

print(f"Addition: {2 + 1}")
print(f"Subraction: {2 - 1}")
print(f"Multiplication: {2 * 1}")
print(f"Divison: {2 / 1}")

Addition: 3
Subraction: 1
Multiplication: 2
Divison: 2.0

In [5]:
%conda install lxml -y

Retrieving notices: ...working... done
Channels:
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [6]:
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
# Getting list of dataframe objects
table[0].head()

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »

In [7]:
table[0].columns.isin(["Operator", "Name", "Example", "Try it"])

array([ True,  True,  True,  True])

In [8]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [9]:
a : str = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [11]:
a : int = str(7)
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

TypeError: can only concatenate str (not "int") to str

In [ ]:
a : int = 7
b : int = 2

print(str(a) + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

TypeError: can only concatenate str (not "int") to str

In [12]:
# Modulus
a : int = 13
b : int = 3

print(a % 3)

1

In [13]:
# Exponent operation.
print(2**2) # Square exponent.
print(2**3) # Cube exponent

4
8

In [14]:
print(12 / 3)

4.0

In [15]:
print(14.8 / 3)

4.933333333333334

In [16]:
print(14.8 // 3)

4.0

# Python Assignment Operators

In [17]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [18]:
num1 = 34
num2 = num1 * 2

result = num1 + num2

print(result)

102

In [19]:
sum: int = 0
# x += 3 is equivalent to x = x + 3
for i in range(1, 11):
    sum += i

print(sum)

55

In [20]:
a : int = 7
print(b := 7)

7

In [21]:
# = assign
a : int = 7
b : int = 2

# a: int = str("shahzaib") # No error

In [22]:
total: int = 100
# x -= 3 is equivalent to x = x - 3
for i in range(1, 11):
    print(i)
    total -= i
    # print(total)

print(total)

1
2
3
4
5
6
7
8
9
10
45

In [23]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [24]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [25]:
if(not(2 == 3)):
   print("Numbers aren't equal")

Numbers aren't equal

In [26]:
# When you’re writing long numbers, you can group digits using underscores to make large numbers more readable
universe_age = 14_000_000_000
print(universe_age)

14000000000

# Multiple Assignment

In [27]:
x, y ,z = 1, 2 ,3
print(x)
print(y)
print(z)

1
2
3

In [28]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [29]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [30]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [31]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [32]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [33]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [34]:
# !=
a : int = 7
b : int = 7

print(a =< b)

SyntaxError: invalid syntax (3561348892.py, line 5)

In [ ]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [ ]:
ord("A")

65

In [ ]:
ord("AB")

TypeError: ord() expected a character, but string of length 2 found

In [ ]:
chr(65)

'A'

In [ ]:
a : str = 'A'
b : str = 'B'

print(b >= a)

True

In [ ]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

True

In [ ]:
ord("a")

97

# Python Logical Operators

In [ ]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [ ]:

# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [ ]:
not True

False

In [ ]:
name : str = "Qasim"
print(not name=="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

False

In [ ]:
name : str = "Qasim"
print(name!="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"

False

In [ ]:
True == True

True

In [ ]:
True != False

True

# Python Identity Operators

In [ ]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [ ]:
a = 4
b = 6

a is b

False

In [ ]:
a = 6
b = 6

a is b

True

In [ ]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

4381331960
4381331960

In [ ]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

4381331960
5960154672

False

In [ ]:
x is z #Same object existing simultaneously

True

In [ ]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

4381331960
4381331960

False

# Python Memebership Operators

In [ ]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [ ]:
names: list[str] = [chr(i) for i in range(65, ord("Z") + 1)]

for i in range(len(names)):
    print(i, names[i])
    if(names[i] == "D"):
        print(True)
        break

0 A
1 B
2 C
3 D
True

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [ ]:
# names: list[str] = [chr(i) for i in range(65,91)]
country_name = [*"Pakistan"]
display(country_name)

"Pakistan" in country_name

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

False

In [ ]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

False

![Operators and their associativity](./operators-and-associativity.jpeg)

In [1]:
print(3 + 2 - 2 * 4 /2 + 2)

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [2]:
print((6 + 3) - (6 + 3))

0

In [1]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

In [2]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [3]:
type(data)

tuple

In [4]:
type("Shahzaib")

str

In [5]:
#Unpacking tuple.
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [7]:
2 * 2
"a" * 3

'aaa'

In [9]:
a = 2.0
b = 45.9
c = 10

print(a + b)
print(a)
str(c) + 10

print(c)

47.9
2.0

TypeError: can only concatenate str (not "int") to str

In [10]:
myname = "shahzaib"
age = 20

for index in range(1,4):
    print(index)

print(myname)
print(age)

1
2
3
shahzaib
20

In [11]:
import this

this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!