In [2]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Muhammad Qasim"
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [3]:
# Producing typeerror
name: int = "Shahzaib Noor"
name = 99

name

99

In [4]:
phrase: str = "Human needs water"

# phrase.index("e")
try:
    for word in phrase.split(" "):
        # print(word.find("e"))
        print(word.capitalize())
     
except:
    print("Exception thrown")

Human
Needs
Water

In [5]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [6]:
print("\t Python")

	 Python

In [7]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [8]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

In [9]:
favorite_language = 'python ' 
print("Before removing whitespace on the right side")
print(favorite_language)
print("After removing whitespace on right side")
result: str = favorite_language.rstrip()
print(result)

if(not(len(favorite_language) == len(result))):
    print("White space on the right has been removed.")

Before removing whitespace on the right side
python
After removing whitespace on right side
python
White space on the right has been removed.

In [10]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [11]:
# After type casting age.

# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30

### Removing Prefix

In [12]:
nostarch_url: str = "https://nostarch.com"
nostarch_url.removeprefix("https://")

'nostarch.com'

## \ line continue in code

In [13]:
print((7 + \
      8 + \
        2) \
             * 2 )

34

In [14]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [15]:
# String with backticks.
name = `My name is Shahzaib Noor`

SyntaxError: invalid syntax (3546159723.py, line 2)

In [16]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

# F-string and Jinja style

In [17]:
f"""
 student name: {name}
"""

'\n student name: Muhammad Qasim\n'

In [18]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

# Type Specifiers in Python

The type can be used with format codes:
- 'd' for integers.
- 'f' for floating-point numbers.
- 'b' for binary numbers.
- 'o' for octal numbers.
- 'x' for octal hexadecimal numbers.
- 's' for string.
- 'e' for floating-point in an exponent format.

In [20]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
[i for i in dir(str)]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
[i for i in dir(int) if "__" not in i]

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [25]:
dir()

['In',
 'Out',
 '_',
 '_12',
 '_17',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_3',
 '__',
 '___',
 '__annotations__',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'age',
 'card',
 'education',
 'exit',
 'favorite_language',
 'fname',
 'get_ipython',
 'message',
 'name',
 'nostarch_url',
 'open',
 'phrase',
 'quit',
 'result',
 'word']

In [1]:
name : tuple[str,int,float] = ('pakistan',7,2.0)
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

('pakistan', 7, 2.0)
<class 'tuple'>
4378924992
['count', 'index']

In [3]:
name : tuple[str,int,float] = ('pakistan',7,2, 9.5) #With extra value as float
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

('pakistan', 7, 2, 9.5)
<class 'tuple'>
4380118208
['count', 'index']

In [ ]:
name : tuple[str,int,float] = ('pakistan',7,2) #With integer
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes